{% extends "base.html" %} {% block body %}

<div class="relative h-screen">
  <img
    src="{{ url_for('static', filename='imgs/' + img) }}"
    alt="Event background"
    class="w-full h-full object-cover opacity-50"
  />

  <div class="absolute inset-0 flex items-center justify-center">
    <div class="text-center">
      <span class="text-8xl font-bold text-black">{{ title }}</span>
      <p class="text-6xl text-black">{{ description }}</p>
      <p class="text-6xl text-black">{{ date_time }}</p>
    </div>
  </div>
</div>

{% endblock %}
