{% extends "base.html" %} {% block body %}

<div class="relative h-screen">
  <img
    src="{{ url_for('static', filename='imgs/' + img) }}"
    alt="Event background"
    class="w-full h-full object-cover opacity-50"
  />

  <div class="absolute inset-0 flex items-center justify-center">
    <div class="text-center">
      <span class="text-8xl xl:text-6xl lg:text-4xl sm:text-xl font-bold text-black py-5 md:py-3">{{ title }}</span>
      <p class="text-6xl xl:text-4xl lg:text-2xl sm:text-xl text-black py-5 md:py-3">{{ description }}</p>
      <p class="text-6xl xl:text-4xl lg:text-2xl sm:text-xl text-black py-5 md:py-3">{{ date_time }}</p>
    </div>
    </div>
  </div>
</div>

{% endblock %}