{% extends "base.html" %} {% block body %}

<div class="flex flex-row justify-center p-20">
  <h1 class="text-5xl font-bold">Gallery</h1>
</div>

<div class="grid grid-cols-2 gap-4 p-4">
  {% for img in gallery %}
  <div class="bg-white rounded-lg overflow-hidden shadow-md">
    <img
      src="{{ url_for('static', filename='imgs/' + img) }}"
      alt="Image"
      class="w-full"
    />
  </div>
  {% endfor %}
</div>

<form action="/upload_gallery_img" method="get">
  <button
    class="fixed bottom-20 right-5 bg-blue-500 text-white rounded-full p-8"
    id="upload_gallery_btn"
  >
    <i class="fas fa-upload"></i>
  </button>
</form>
{% endblock %}
