{% extends "base.html" %} {% block body %}

<div class="flex flex-col justify-between items-between">
  <div class="flex flex-row lg:flex-col justify-center items-center">
    <div class="w-full p-4">
      <h1 class="text-5xl font-bold">Gallery</h1>
      <p class="mt-4 text-med">
        Check out what MCUT 8N has been up to this year!
      </p>
    </div>
    <img
      src="https://dummyimage.com/400x200/ddd/000"
      alt="Random event image"
      class="w-full rounded-2xl mt-4"
    />
  </div>
  <div class="flex flex-row lg:flex-col justify-center items-center">
    <div class="w-full p-4 mt-8">
      <h1 class="text-5xl font-bold">Upcoming Events</h1>
      <p class="mt-4 text-med">
        Check out what MCUT 8N has planned for the future!
      </p>
    </div>
    <img
      src="{{ url_for('static', filename='imgs/' + event.img) }}"
      alt="Carousel"
      class="w-full rounded-2xl mt-4"
    />
  </div>
</div>

{% endblock %}
