{% extends "base.html" %} {% block body %}

<div class="flex flex-col justify-between items-between">
  <div
    class="flex flex-row flex-shrink lg:flex-col justify-between items-center"
  >
    <div class="w-1/2 lg:w-1/2 p-4">
      <h1 class="text-5xl font-bold">Gallery</h1>
      <p class="mt-4 text-med">
        Check out what MCUT 8N has been up to this year!
      </p>
    </div>
    <img
      src="{{ url_for('static', filename='imgs/' + 'mcut8n.png') }}"
      alt="Random event image"
      class="w-1/2 rounded-2xl mt-4"
    />
  </div>
  <div
    class="flex flex-row flex-shrink lg:flex-col justify-between items-center"
  >
    <div class="w-1/2 lg:w-1/2 p-4 mt-8">
      <h1 class="text-5xl font-bold">Upcoming Events</h1>
      <p class="mt-4 text-med">
        Check out what MCUT 8N has planned for the future!
      </p>
    </div>
    <img
      src="{{ url_for('static', filename='imgs/' + event.img) }}"
      alt="Carousel"
      class="w-1/2 rounded-2xl mt-4"
    />
  </div>
</div>

{% endblock %}
